<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <description>Prefix on hostname for the reverse proxy you want to use when running in codenvy</description>
    <param-name>codEnvyProxyPrefix</param-name>
    <!-- put your name here -->
    <param-value><yournamehere>.qboplugin</param-value>
  </context-param>
  
  <context-param>
    <description>url to where your app is running</description>
    <param-name>defaultAppRunUrl</param-name>
    <param-value>intuitqbosample-ehinx3vcwu.elasticbeanstalk.com</param-value>
  </context-param>
  <context-param>
    <description>Prefix on hostname used for reverse proxy when not running in codenvy (like amazon)</description>
    <param-name>defaultProxyPrefix</param-name>
    <param-value>aws.qboplugin</param-value>
  </context-param>
  <listener>
    <listener-class>com.codenvy.AppListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.intuit.qbo.plugin</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping> 
</web-app>